html {
    background-color: #7577EE;
    padding: 0;
    margin: 0;
    height:100%;
    
    /*background-image: linear-gradient(270deg,rgb(117,119,238) 0%,rgb(117,119,238) 100%);*/
    -webkit-font-smoothing: antialiased;
    background: white;
}
h1{
    margin-top: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    line-height: 0px;
    color: lightgray;
    
    background-color: rgba(255,255,255,1.0);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.00);
    height: 100%;
}
/*nav {
    text-align: left;
    align-content: flex-start;
    color: black;
}*/
#navBarList {
    z-index: 1;
    text-align: right;
    width: 100%;
    margin-top: 0px;
    height: 50px;
    padding-left: 0px;
    padding-top: 0px;
    top: 0px;
    margin-bottom: 40px;
    position: fixed;
    background-color: rgba(10,10,10,0.2);
    
}
#logoNav{
    padding-top: 0px;
    margin-top: 15px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 15px;
    float:inherit;
    line-height: 20px;
} 
#navListElement1 {
    display:inline;
    float: left;
}
#navListElement2 {
    display:inline;
    float: right;
}
/*#anaColor{
    color="white";
    size="2px";
}
#aboutButtonColor{
    color="white";
    size="2px";
}
#contactButtonColor{
    color="white";
    size="2px";
}*/
#closeButtonCross{
    height: 30px;
    width: 30px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    top: 0px;
    position: absolute;
    text-decoration: none;
    z-index: 6;
    
}

#contactList{
    width: 100%;
    font-size: 20px;
    height: 150px;
    padding: 0px;
    text-align: center;
    display: inline;
}
#mailClick, #linkedInClick, #facebookClick {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}


#contact_form{
    z-index: 2;
    position:absolute;
    display:none;
    top:50px;
    left:50px; /* you should change left and top */
    width:200px;
    height:200px;
}
#copyright{
    font-size: 15px;
    padding-bottom: 10px;
    text-decoration: none;
}
/*
.image_off, #home:hover .image_on{
   display:none
}*/
/*
.image_on, #home:hover .image_off{
   display:block
}
*/
#anaText{
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: left;
    font-size: 23px;
    color: white;
    text-decoration: none;
}
#contactButtonText{
    padding-right: 0px;
    margin-right: 25px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: right;
    font-size: 23px;
    color: white;
    text-decoration: none;
    background:none;
    border:none;
    
}
#aboutButtonText{
    padding-right: 0px;
    margin-right: 25px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: right;
    font-size: 23px;
    color: white;
    text-decoration: none;
}



/*#anaText:hover{
    padding-left: 5px;
    margin-left: 5px;
    padding-top: 6px;
    padding-bottom: 5px;
    vertical-align: bottom;
    float: left;
    font-size: 23px;
    color: dimgrey;
    text-decoration: none;
}*/
.jumbotron{
    position: relative;
    text-align: center;
    font-size: 16px;
    height: 100%;
    /*background-image: -webkit-linear-gradient(270deg,rgb(30,30,30) 0%,rgb(117,119,238) 100%);*/
    background-image: -webkit-linear-gradient(270deg,rgb(20,20,20) 0%,rgb(80,82,201) 100%);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 90px;
}

#arrowDown{
    position:fixed;
    bottom:0px;
    width:80%;
    left:10%;
    padding-bottom: 20px;
    margin:0 auto;
    z-index: 0;
}

.jumbotron2{
    position: relative;
    text-align: center;
    font-size: 16px;
    background-color: white;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
}
#sloganAbout{
    position: absolute;
    font-size: 20px;
    top:35%; 
    left:30%; 
    width:40%; 
    margin:0 auto;
}
#expAbout{
    font-size: 18px;
    position: absolute; 
    top:41%; 
    left:25%;  
    width:50%; 
    margin:0 auto;
}
h1, h2, h3, h4{
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}
#picList{
    width: 100%;
    height: 150px;
    padding: 0px;
    padding-bottom: 20px;
    display: inline-block;
    float: none;
    text-align: center;
    list-style-type: none;
}
#alex, #sam, #nathan{
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}


.jumbotron h1{
    font-size: 50px;
    font-weight: bold;
    color:white;
}
.jumbotron h2{
    font-size: 17px;
    color: white;
}
.jumbotron h3{
    font-size: 17px;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 20px;
}
h2 {
    margin-top: 20px;
}
#footer{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 20;
    bottom:0;
    width:100%;
    height:20px;   /* Height of the footer */
    background:white;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    z-index: 3;
    
}

#dimScreen
{
    position:fixed;
    padding:0;
    margin:0;
    display: none;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(20,20,20,0.9);
    -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.3s; /* Firefox < 16 */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera < 12.1 */
            animation: fadein 0.3s;
}


#contact_form{
    position:fixed;
    display:none; /* you should change left and top */
    width:76%;
    height:76%px;
}
#center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    
}
.row{
    color: white;
    padding: 15px;
}
.input{
    margin-top: 15px;
}

img {
    -webkit-animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    /*border: 10px solid rgba(0, 0, 0, 0.12);*/
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@media screen and (max-device-width: 480px){
#contactButtonText{
    padding-right: 0px;
    margin-right: 20px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: right;
    font-size: 23px;
    color: white;
    text-decoration: none;
    background:none;
    border:none;
    
}
#aboutButtonText{
    padding-right: 0px;
    margin-right: 15px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: right;
    font-size: 23px;
    color: white;
    text-decoration: none;
}
#closeButtonCross{
    height: 30px;
    width: 30px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    top: 0px;
    position: absolute;
    text-decoration: none;
}

#sloganAbout{
    position: absolute;
    font-size: 17px;
    top:30%; 
    left:10%; 
    width:80%; 
    margin:0 auto;
}
#expAbout{
    position: absolute;
    font-size: 16px;
    top:36%; 
    left:10%;  
    width:80%; 
    margin:0 auto;
}
#center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}
/*#anaColor{
    color="white";
    size="2px";
}
#aboutButtonColor{
    color="white";
    size="0.5px";
}
#contactButtonColor{
    color="white";
    size="0.5px";
}*/
}

#top .avia-content-slider, #top .avia-content-slider-inner, #top .avia-content-slider-inner .slide-entry-wrap { -webkit-perspective: none !important; }

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}