html {
    background-color: #7577EE;
    padding: 0;
    margin: 0;
    height:100%;
    -webkit-font-smoothing: antialiased;
    /*background-image: linear-gradient(270deg,rgb(117,119,238) 0%,rgb(117,119,238) 100%);*/
    background: white;
}



h1{
    margin-top: 0px;
}

h1, h2, h3, h4{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    line-height: 0px;
    color: lightgray;
    
    background-color: rgba(255,255,255,1.0);
    /*box-shadow: 0 0 0px rgba(0, 0, 0, 0.00);*/
    height: 100%;
}
#facebookLogo, #mailLogo, #linkedInLogo{
    width: 100px;
    height: 100px;
}
/*nav {
    text-align: left;
    align-content: flex-start;
    color: black;
}*/
#navBarList {
    text-align: right;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 0px;
    height: 50px;
    padding-left: 0px;
    padding-top: 0px;
    top: 0px;
    margin-bottom: 40px;
    position: fixed;
    background-color: rgba(10,10,10,0.2);
    
}
#logoNav{
    padding-top: 0px;
    margin-top: 15px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 15px;
    float:inherit;
    line-height: 20px;
} 
#navListElement1 {
    display:inline;
    float: left;
}
#navListElement2 {
    display:inline;
    float: right;
}

#anaphiteWord{
    margin:0 auto;
}
#breakthrough{
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
/*#anaColor{
    color="white";
    size="2px";
}
#aboutButtonColor{
    color="white";
    size="2px";
}
#contactButtonColor{
    color="white";
    size="2px";
}*/
#contactList{
    width: 100%;
    font-size: 20px;
    height: 150px;
    padding: 0px;
    vertical-align: middle;
}
.container{
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
#learnMoreButton {
    margin-top: 40px;
}
#vidContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
#vid {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    z-index: 5;
}
#appsList{
    width: 100%;
    margin-left: 0%;
    font-size: 20px;
    height: 150px;
    padding: 0px;
    padding-top: 20px;
    vertical-align: middle;
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
#mailClick, #linkedInClick, #facebookClick {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#solar {
    display:inline-block;
    position: static;
    margin-left: 0%;
    margin-right: 8%;
    width: 100px;
    
}
#antiBac {
    display:inline-block;
    position: static;
    margin-left: 8%;
    margin-right: 8%;
    width: 120px;
}
#battery {
    display:inline-block;
    position: static;
    margin-left: 8%;
    margin-right: 0%;
    width: 100px;
}
#copyright{
    font-size: 15px;
    text-decoration: none;
}
#closeButtonCross{
    height: 30px;
    width: 30px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    top: 0px;
    position: absolute;
    text-decoration: none;
    z-index: 6;
}
/*
.image_off, #home:hover .image_on{
   display:none
}*/
/*
.image_on, #home:hover .image_off{
   display:block
}
*/
#anaText{
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: left;
    font-size: 23px;
    color: white;
    text-decoration: none;
}
#contactButtonText{
    padding-right: 0px;
    margin-right: 25px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: right;
    font-size: 23px;
    color: white;
    text-decoration: none;
    background:none;
    border:none;
    
}
#aboutButtonText{
    padding-right: 0px;
    margin-right: 25px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: right;
    font-size: 23px;
    color: white;
    text-decoration: none;
}
/*#anaText:hover{
    padding-left: 5px;
    margin-left: 5px;
    padding-top: 6px;
    padding-bottom: 5px;
    vertical-align: bottom;
    float: left;
    font-size: 23px;
    color: dimgrey;
    text-decoration: none;
}*/
.jumbotron{
    text-align: center;
    font-size: 16px;
    /*background-image: -webkit-linear-gradient(270deg,rgb(30,30,30) 0%,rgb(117,119,238) 100%);*/
    background-image: -webkit-linear-gradient(270deg,rgb(20,20,20) 0%,rgb(80,82,201) 100%);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    height: 100%;
    position: relative;
}

.jumbotron h1{
    font-size: 50px;
    font-weight: bold;
    color:white;
    
}
.jumbotron h2{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 17px;
    color: white;
}
.jumbotron h3{
    font-size: 17px;
    color: white;
    margin-top: 40px;
}
h1, h2, h3, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 20px;
}
h2 {
    margin-top: 20px;
}
#slogan {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    bottom: 0;
    transform: translate(-50%, -50%)

}
h4{
    color: #222;
    font-weight: 600;
    line-height: 20px;
    font-size: 12px;
    color: white;
}
#footer{
    margin-top: 0px;
    padding-top: 20px;
    bottom:0;
    width:100%;
    height:300px;   /* Height of the footer */
    background:white;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;

}

#dimScreen, #dimScreen2
{
    position:fixed;
    padding:0;
    margin:0;
    display: none;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(20,20,20,0.9);
    -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.3s; /* Firefox < 16 */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera < 12.1 */
            animation: fadein 0.3s;
}


#contact_form{
    position:fixed;
    display:none; /* you should change left and top */
    width:100%;
    height:100%;
    z-index: 2;
}
#howVideo{
    position:fixed;
    display:none; /* you should change left and top */
    width:100%;
    height:100%;
    z-index: 2;
}
#center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}
#center2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.row{
    color: white;
    padding: 15px;
}
.input{
    margin-top: 15px;
}

img {
    -webkit-animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    /*border: 10px solid rgba(0, 0, 0, 0.12);*/
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

#sunImage {
    border-radius: 2px;
    padding-bottom: 6px
}


@media screen and (max-device-width: 700px){
    
/*#navBarList {
    text-align: center;
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    margin-top: 0px;
    height: 50px;
    padding-left: 0px;
    padding-top: 0px;
    top: 0px;
    margin-bottom: 40px;
    position: fixed;
    background-color: rgba(10,10,10,0.2);
    
}
#logoNav{
    padding-top: 0px;
    margin-top: 15px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 15px;
    float:inherit;
    line-height: 20px;
} 
#navListElement1 {
    display:block;
    float:right;
}
#navListElement2 {
    display:block;
    float: right;
}*/
#vid {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}
    
#contactButtonText{
    padding-right: 0px;
    margin-right: 20px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: right;
    font-size: 23px;
    color: white;
    text-decoration: none;
    background:none;
    border:none;
    
}
#aboutButtonText{
    padding-right: 0px;
    margin-right: 15px;
    margin-top: 14px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: right;
    font-size: 23px;
    color: white;
    text-decoration: none;
}
.jumbotron{
    text-align: center;
    font-size: 16px;
    /*background-image: -webkit-linear-gradient(270deg,rgb(30,30,30) 0%,rgb(117,119,238) 100%);*/
    background-image: -webkit-linear-gradient(270deg,rgb(20,20,20) 0%,rgb(80,82,201) 100%);
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    height: auto;
}
#facebookLogo, #mailLogo, #linkedInLogo{
    width: 70px;
    height: 70px;
    margin-bottom: 0px;
}
#appsList{
    width: 100%;
    margin-left: 0%;
    height: 100px;
    margin-top: 0px;
    padding-top: 0px
    padding: 0px;
    vertical-align: middle;
}
#solar {
    display:inline-block;
    margin-left: 0%;
    margin-right: 5%;
    width: 80px;
    height: 70px;
    
}
#antiBac {
    display:inline-block;
    margin-left: 5%;
    margin-right: 5%;
    width: 84px;
    height: 70px;
}
#battery {
    display:inline-block;
    margin-left: 5%;
    margin-right: 0%;
    width: 80px;
    height: 70px;
}
h4 {        
    font-size: 9px;
}
.containerSlogan{
    width:100%;
    text-align:center;
    padding-top: 80px;
}
#slogan {
    /*position: absolute;
    font-size: 12px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)*/
    display:inline-block;
    font-size: 12px;

}
#footer{
    margin-top: 0px;
    padding-top: 10px;
    bottom:0;
    width:100%;
    height:150px;   /* Height of the footer */
    background:white;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;

}
    
#contactList{
    width: 100%;
    font-size: 20px;
    height: 100px;
    margin-top: 0px;
    padding-top: 0px
    padding: 0px;
    vertical-align: middle;
}

#contactWords{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#closeButtonCross{
    height: 30px;
    width: 30px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    top: 0px;
    position: absolute;
    text-decoration: none;
    
}
#center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}
/*#anaColor{
    color="white";
    size="0.5px";
}
#aboutButtonColor{
    color="white";
    size="0.5px";
}
#contactButtonColor{
    color="white";
    size="0.5px";
}*/
    
}


#top .avia-content-slider, #top .avia-content-slider-inner, #top .avia-content-slider-inner .slide-entry-wrap { -webkit-perspective: none !important; }

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
